<div class="proj-steps">
	<div class="steps-bar"></div>
	<ul class="steps clearfix">
		<li ng-class="step==1?'active':1<step?'completed':''">
			<a href="" class="step">
				<span>1</span>
				<span class="glyphicon glyphicon-ok"></span>
			</a>
			<p>Basic Info</p>
		</li>
		<li ng-class="step==2?'active':2<step?'completed':''">
			<a href="" class="step">
				<span>2</span>
				<span class="glyphicon glyphicon-ok"></span>
			</a>
			<p>Project Details</p>
		</li>
		<li ng-class="step==3?'active':3<step?'completed':''">
			<a href="" class="step">
				<span>3</span>
				<span class="glyphicon glyphicon-ok"></span>
			</a>
			<p>Rewards &amp; Services</p>
		</li>
		<li ng-class="step==4?'active':4<step?'completed':''">
			<a href="" class="step">
				<span>4</span>
				<span class="glyphicon glyphicon-ok"></span>
			</a>
			<p>Profile &amp; Account</p>
		</li>
		<li ng-class="step==5?'active':5<step?'completed':''">
			<a href="" class="step">
				<span>5</span>
				<span class="glyphicon glyphicon-ok"></span>
			</a>
			<p>Preview &amp; Submit</p>
		</li>
	</ul>
	<div class="septs-title">
		<h2>{{stepsTitle}}</h2>
		<p ng-if="step!=5">[ All fields are mandatory ]</p>
	</div>
</div>