<section class="content">
	<div class="create-proj-cont">
		<div class="checkout-cont row">
			<div class="title-wrp">
				<h6 class="check-sub-title">You're contributing to Sameer's</h6>
				<h4 class="check-title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h4>
			</div>
			<div class="col-md-9">
				<div class="checkout-wrp">
					<div class="clearfix steps-content-basic">
						<div class="donation-wrp">
							<h4>Enter your donation</h4>
							<md-input-container class="rupees">
								<label class="ph-label">500.00</label>
								<i class="fa fa-rupee"></i>
								<input type="text">
							</md-input-container>

						</div>
						<div class="steps-form">
							<div class="row">
								<div class="col-md-6">
									<div class="input-wrp">
										<label class="f-label">First Name</label>
										<md-input-container>
											<label class="ph-label">Your First Name</label>
											<input type="text">
										</md-input-container>
									</div>
								</div>
								<div class="col-md-6">
									<div class="input-wrp">
										<label class="f-label">Last Name</label>
										<md-input-container>
											<label class="ph-label">Your Last Name</label>
											<input type="text">
										</md-input-container>
									</div>
								</div>
							</div>

							<div class="input-wrp">
								<label class="f-label">Email</label>
								<md-input-container>
									<label class="ph-label">Your Email</label>
									<input type="email">
								</md-input-container>
							</div>

							<h4 class="credit-title">Credit Card Details</h4>

							<div class="input-wrp">
								<label class="f-label">Name on Card</label>
								<md-input-container>
									<label class="ph-label">Enter Name</label>
									<input type="email">
								</md-input-container>
							</div>

							<div class="input-wrp">
								<label class="f-label">Credit Card Number</label>
								<md-input-container>
									<label class="ph-label">Enter 16 digit card number</label>
									<input type="email">
								</md-input-container>
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="input-wrp">
										<label class="f-label">Expiration</label>
										<md-input-container>
											<label class="ph-label">MM-YYYY</label>
											<input type="text">
										</md-input-container>
									</div>
								</div>
								<div class="col-md-6">
									<div class="input-wrp">
										<label class="f-label">CVV</label>
										<md-input-container>
											<label class="ph-label">Enter CVV number</label>
											<input type="text">
										</md-input-container>
									</div>
								</div>
							</div>

							<div class="input-wrp">
								<label class="f-label">Zip Code</label>
								<md-input-container>
									<label class="ph-label">Enter zip code</label>
									<input type="email">
								</md-input-container>
							</div>

							<div class="support-me">
								<a class="btn btn-default btn-lg btn-subscribe ng-scope" ng-click="supportMe()">Donate</a>
							</div>							
							<ul class="cards-list clearfix">
								<li><img src="assets/images/payment-options.png" width="" /></li>
							</ul>
						</div>

					</div>
				</div>
			</div>
			<div class="checkout-wrp-right support-me col-md-3">
				<div class="user-wrp prfile">
					<h4 class="uname">Support Sameer</h4>
					<div class="user-img"><img src="assets/images/user-img.png"/></div>
					<h3 class="amount"><i class="fa fa-rupee" aria-hidden="true"></i>24,000<sup>.00</sup></h3>
					<div class="funded-wrp">
						<div class="f-progress">
							<div class="p-process"></div>
							<div class="p-completed"></div>
						</div>
					</div>
					<p class="fund">24% amount achievd of 100,000</p>
				</div>
			</div>
			
		</div>
	</div>
</section>
