<section class="content">
	<div class="create-proj-cont">
		<div class="create-proj-wrp steps-wrp preview">
			<div ng-include="'templates/partials/steps.html'"></div>
		</div>
		<div class="preview-content">
			<div ng-include="'templates/project-preview.html'"></div>
		</div>
		<div class="create-proj-wrp steps-wrp preview">
			<div class="preview-footer">
				<div class="steps-footer">
					<div class="row">
						<div class="col-md-6 col-sm-6  col-xs-6 prev">
							<a href="#/create/profile/{{projectId}}" class="steps-back">
								<p class="cont">Back to</p>
								<i class="fa fa-arrow-left" aria-hidden="true"></i><span>Profile &amp; Account</span>
							</a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6 next">
							<a href="" ng-click="submitProject()" class="steps-back">
								<p class="cont">Continue to</p>
								<p><span>Submit</span><i class="fa fa-arrow-right" aria-hidden="true"></i></p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>