<section class="content">
	<div class="create-proj-cont">
		<div class="create-proj-wrp steps-wrp preview">
			<div ng-include="'templates/partials/steps.html'"></div>
		</div>
		<div class="preview-content">
			<div ng-include="'templates/project-preview.html'"></div>
		</div>
		<div class="create-proj-wrp steps-wrp preview">
			<div class="preview-footer">
				<div class="steps-footer">
					<div class="row">
						<div class="col-md-6 col-sm-6  col-xs-6 prev">
							<p class="cont">Back to</p>
							<a href="#createprojectaccount" class="steps-back"><i class="fa fa-arrow-left" aria-hidden="true"></i><span>Profile &amp; Account</span></a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6 next">
							<p class="cont">Continue to</p>
							<p><a href="#home" class="steps-back">
								<span>Submit</span>
								<i class="fa fa-arrow-right" aria-hidden="true"></i>
							</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>