<section class="content">
	<div class="create-proj-cont">
		<div class="create-proj-wrp steps-wrp">
			<div ng-include="'templates/partials/steps.html'"></div>
			<div class="steps-content">
				<div class="row steps-content-basic">
					<h5 style="margin-left:17px;">SUPPORT REWARDS</h5>
					<div class="col-md-4 steps-form">
						<div class="reward-box">
							<div class="input-wrp">
								<i class="fa fa-rupee"></i>
								<input type="text" class="txt-amout" placeholder="500.00">
							</div>
							<div class="input-wrp">
								<input type="text" class="txt-desc" placeholder="Thank You!!">
							</div>
							<div class="input-wrp">
								<textarea  cols="5" class="txt-desc" placeholder="Description"></textarea>
							</div>
						</div>
					</div>
					<div class="col-md-4 steps-form">
						<div class="reward-box">
							<div class="input-wrp">
								<i class="fa fa-rupee"></i>
								<input type="text" class="txt-amout" placeholder="500.00">
							</div>
							<div class="input-wrp">
								<input type="text" class="txt-desc" placeholder="Thank You!!">
							</div>
							<div class="input-wrp">
								<textarea  cols="5" class="txt-desc" placeholder="Description"></textarea>
							</div>
						</div>
					</div>
					<div class="col-md-4 steps-form">
						<div class="reward-box-add">
							<a href="" class="add-box">+</a>
						</div>
					</div>
				</div>
				<div class="row steps-content-basic">
					<h5 style="margin-left:17px;">SERVICE REWARDS</h5>
					<div class="col-md-4 steps-form">
						<div class="reward-box">
							<div class="input-wrp">
								<i class="fa fa-rupee"></i>
								<input type="text" class="txt-amout" placeholder="0.00">
							</div>
							<div class="input-wrp">
								<input type="text" class="txt-desc" placeholder="Activity Name">
							</div>
							<div class="input-wrp">
								<input type="text" class="txt-desc" placeholder="Time to avail service">
							</div>
							<div class="input-wrp">
								<textarea  cols="5" class="txt-desc" placeholder="Description"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="steps-footer">
				<div class="row">
					<div class="col-md-6 prev">
						<p class="cont">Back to</p>
						<a href="#createprojectdetails" class="steps-back">
							<i class="fa fa-arrow-left" aria-hidden="true"></i><span>Project Details</span>
						</a>
					</div>
					<div class="col-md-6 next">
						<p class="cont">Continue to</p>
						<p><a href="#createprojectaccount" class="steps-back">
							<span>Profile &amp; Account</span>
							<i class="fa fa-arrow-right" aria-hidden="true"></i>
						</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>