<section class="dashboard-content">
	<div class="container dashboard">
		<div class="db-banner">
			<div class="db-profile-wrp">
				<div class="db-profile-pic" style="background-image: url(assets/images/profile-img.png);"></div>
			</div>
			<div class="user-wrp prfile">
				<div class="user-img"><img src="assets/images/user-img.png"/></div>
			</div>
			<h4 class="db-title">Sameer Singer</h4>
			<p class="db-loc">Delhi, India</p>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="profile-left">
					<div class="tabs">
						<ul class="clearfix">
							<li><a href="" class="active">My Projects</a></li>
							<li><a href="">Personal Details</a></li>
							<li><a href="">Account Information</a></li>
						</ul>
					</div>
					<!--Begin the My Project tab-->
					<div class="my-proj-tab-content">
						<div class="my-project">
							<div class="row project">
								<div class="col-md-8">
									<div class="proj-banner-wrp">
										<div class="proj-banner" style="background-image: url(assets/images/my-proj-banner.png);"></div>
										<div class="proj-info clearfix">
											<div class="views">
												<h5>264</h5>
												<p><i class="fa fa-eye" aria-hidden="true"></i>Views</p>
											</div>
											<div class="comments">
												<h5>2643</h5>
												<p><i class="fa fa-heart" aria-hidden="true"></i>Likes</p>
											</div>
											<div class="likes">
												<h5>34</h5>
												<p><i class="fa fa-comments" aria-hidden="true"></i>Comments</p>
											</div>
										</div>
									</div>
									<p class="p-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
									<div class="proj-btn-wrp">
										<div class="row">
											<div class="col-md-6">
												<a href="" class="btn btn-default">Promote Your Project</a>
											</div>
											<div class="col-md-6">
												<a href="" class="btn btn-default">Make it a Featured Project</a>
											</div>
										</div>
										<a href="" class="btn btn-default">I will pay Rs. 5000 for 5 Days for Home Page promotion</a>
									</div>
								</div>
								<div class="col-md-4 statistics">
									<h3 class="amount"><i class="fa fa-rupee" aria-hidden="true"></i>24,000</h3>
									<h4 class="s-title">Money Raised</h4>
									<h3 class="amount">14</h3>
									<h4 class="s-title">People Supporting</h4>
									<h3 class="amount">2 Days 4 Hrs</h3>
									<h4 class="s-title">Time Remaining</h4>
									<a href="" class="extend">Extend the Project</a>
									<a href="" class="extend">Discontinue this Project</a>
								</div>
							</div>
						</div>
						<div class="my-project">
							<div class="row project">
								<div class="col-md-8">
									<div class="proj-banner-wrp">
										<div class="proj-banner" style="background-image: url(assets/images/my-proj-banner.png);"></div>
										<div class="proj-info clearfix">
											<div class="views">
												<h5>264</h5>
												<p><i class="fa fa-eye" aria-hidden="true"></i>Views</p>
											</div>
											<div class="comments">
												<h5>2643</h5>
												<p><i class="fa fa-heart" aria-hidden="true"></i>Likes</p>
											</div>
											<div class="likes">
												<h5>34</h5>
												<p><i class="fa fa-comments" aria-hidden="true"></i>Comments</p>
											</div>
										</div>
									</div>
									<p class="p-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
									<div class="proj-btn-wrp">
										<div class="row">
											<div class="col-md-6">
												<a href="" class="btn btn-default">Promote Your Project</a>
											</div>
											<div class="col-md-6">
												<a href="" class="btn btn-default">Make it a Featured Project</a>
											</div>
										</div>
										<a href="" class="btn btn-default">I will pay Rs. 5000 for 5 Days for Home Page promotion</a>
									</div>
								</div>
								<div class="col-md-4 statistics">
									<h3 class="amount"><i class="fa fa-rupee" aria-hidden="true"></i>24,000</h3>
									<h4 class="s-title">Money Raised</h4>
									<h3 class="amount">14</h3>
									<h4 class="s-title">People Supporting</h4>
									<h3 class="amount">2 Days 4 Hrs</h3>
									<h4 class="s-title">Time Remaining</h4>
									<a href="" class="extend">Extend the Project</a>
									<a href="" class="extend">Discontinue this Project</a>
								</div>
							</div>
						</div>
						<div class="my-project last">
							<div class="row project">
								<div class="col-md-8">
									<div class="proj-banner-wrp">
										<div class="proj-banner" style="background-image: url(assets/images/my-proj-banner.png);"></div>
										<div class="proj-info clearfix">
											<div class="views">
												<h5>264</h5>
												<p><i class="fa fa-eye" aria-hidden="true"></i>Views</p>
											</div>
											<div class="comments">
												<h5>2643</h5>
												<p><i class="fa fa-heart" aria-hidden="true"></i>Likes</p>
											</div>
											<div class="likes">
												<h5>34</h5>
												<p><i class="fa fa-comments" aria-hidden="true"></i>Comments</p>
											</div>
										</div>
									</div>
									<p class="p-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
									<div class="proj-btn-wrp">
										<div class="row">
											<div class="col-md-6">
												<a href="" class="btn btn-default">Promote Your Project</a>
											</div>
											<div class="col-md-6">
												<a href="" class="btn btn-default">Make it a Featured Project</a>
											</div>
										</div>
										<a href="" class="btn btn-default">I will pay Rs. 5000 for 5 Days for Home Page promotion</a>
									</div>
								</div>
								<div class="col-md-4 statistics">
									<h3 class="amount"><i class="fa fa-rupee" aria-hidden="true"></i>24,000</h3>
									<h4 class="s-title">Money Raised</h4>
									<h3 class="amount">14</h3>
									<h4 class="s-title">People Supporting</h4>
									<h3 class="amount">2 Days 4 Hrs</h3>
									<h4 class="s-title">Time Remaining</h4>
									<a href="" class="extend">Extend the Project</a>
									<a href="" class="extend">Discontinue this Project</a>
								</div>
							</div>
						</div>
					</div>
					<!--End of the My Project tab-->
				</div>
			</div>
			<div class="col-md-4">
				<div class="profile-right">
					<div class="user-section">
						<h5>Profile Completion</h5>
						<p>Graph</p>
					</div>
					<div class="user-section">
						<h5>About Me</h5>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, 		remaining essentially unchanged. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
					</div>
					<div class="user-section">
						<h5>My Hobbies</h5>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
					</div>
					<div class="user-section">
						<h5>My Goals</h5>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, 		remaining essentially unchanged.</p>
					</div>
					<div class="user-section last">
						<h5>Social Media Connect</h5>
						<div class="social-connect">
							<div class="conenect-wrp">
							  <md-checkbox md-no-ink ng-model="data.cb1" aria-label="F" class="fb-cb social-cb">f</md-checkbox>
							  <md-checkbox md-no-ink ng-model="data.cb2" aria-label="T" class="tw-cb social-cb">t</md-checkbox>
							  <md-checkbox md-no-ink ng-model="data.cb3" aria-label="G" class="go-cb social-cb">g</md-checkbox>
							</div>
						</div>
					</div>
				</div>
			</div>
		
		</div>
	</div>
</section>