<section class="proj-content">
	<div class="container projects-det">
		<div class="row">
			<div class="col-md-8 pd">
				<div class="project-carousel">
					<img src="assets/images/project-bg.jpg">
				</div>
				<h1 class="pd-title">Lorem Ipsum is simply dummy text of the printingt ext of the printing.</h1>
				<p class="pd-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<div class="pd-about">
					<h4 class="btn-title">About this project</h4>
					<p class="pd-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, 		remaining essentially unchanged.</p>
					
					<h4 class="btn-title">How I will spend money</h4>
					<p class="pd-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, 		remaining essentially unchanged.</p>
					
					<h4 class="btn-title">My Team</h4>
					<div class="row team">
						<div class="col-md-6">
							<div class="team-wrp clearfix">
								<img src="assets/images/team.jpg" class="team-bg">
								<div class="name pull-left">
									<h5>Ken Hermann</h5>
									<p>Co-Founder</p>
								</div>
							</div>
							<div class="team-wrp clearfix">
								<img src="assets/images/team.jpg" class="team-bg">
								<div class="name pull-left">
									<h5>Ken Hermann</h5>
									<p>Co-Founder</p>
								</div>
							</div>
							<div class="team-wrp clearfix">
								<img src="assets/images/team.jpg" class="team-bg">
								<div class="name pull-left">
									<h5>Ken Hermann</h5>
									<p>Co-Founder</p>
								</div>
							</div>
							<div class="team-wrp clearfix">
								<img src="assets/images/team.jpg" class="team-bg">
								<div class="name pull-left">
									<h5>Ken Hermann</h5>
									<p>Co-Founder</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="team-wrp clearfix">
								<img src="assets/images/team.jpg" class="team-bg">
								<div class="name pull-left">
									<h5>Ken Hermann</h5>
									<p>Co-Founder</p>
								</div>
							</div>
							<div class="team-wrp clearfix">
								<img src="assets/images/team.jpg" class="team-bg">
								<div class="name pull-left">
									<h5>Ken Hermann</h5>
									<p>Co-Founder</p>
								</div>
							</div>
							<div class="team-wrp clearfix">
								<img src="assets/images/team.jpg" class="team-bg">
								<div class="name pull-left">
									<h5>Ken Hermann</h5>
									<p>Co-Founder</p>
								</div>
							</div>
							<div class="team-wrp clearfix">
								<img src="assets/images/team.jpg" class="team-bg">
								<div class="name pull-left">
									<h5>Ken Hermann</h5>
									<p>Co-Founder</p>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			<div class="col-md-4">
				<div class="support-box user">
					<img src="assets/images/support-user-bg.jpg" class="support-user-bg">
					<div class="user-info">
						<h3 class="s-user">Sameer Singer</h3>
						<p class="s-loc"><i class="fa fa-map-marker" aria-hidden="true"></i>Delhi, India </p>
						<p class="s-email"><i class="fa fa-envelope" aria-hidden="true"></i>sameersinger.com</p>
					</div>
				</div>
				
				<h4 class="s-proj-title">Support this project</h4>
				<div class="support-box">
					<h3 class="amount"><i class="fa fa-rupee" aria-hidden="true"></i>500<sup>.00</sup></h3>
					<h4 class="s-title">Please support us!!</h4>
					<p class="s-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
				</div>
				<div class="support-box">
					<h3 class="amount"><i class="fa fa-rupee" aria-hidden="true"></i>1500<sup>.00</sup></h3>
					<h4 class="s-title">Please support us!!</h4>
					<p class="s-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
				</div>
				
			</div>
		
		</div>
	</div>
</section>