<section class="content">
	<div class="create-proj-cont">
		<div class="create-proj-wrp steps-wrp">
			<div ng-include="'templates/partials/steps.html'"></div>
			<div class="steps-content">
				<div class="row steps-content-basic">
					<h5 style="margin-left:17px;">SUPPORT REWARDS</h5>
					<div ng-repeat="support in project.supportrewards track by $index">
						<div class="col-md-4 steps-form">
							<div class="reward-box">
								<div class="input-wrp">
									<i class="fa fa-rupee"></i>
									<input type="text" class="txt-amout" placeholder="500.00" ng-model="support.amount">
								</div>
								<div class="input-wrp">
									<input type="text" class="txt-desc" placeholder="Thank You!!" ng-model="support.title">
								</div>
								<div class="input-wrp">
									<textarea  cols="5" class="txt-desc" placeholder="Description" ng-model="support.description"></textarea>
								</div>
							</div>
							<a href="" class="delete-rewards" ng-if="project.supportrewards.length>1"><i class="fa fa-trash-o" aria-hidden="true"></i>Delete</a>
						</div>
					</div>
					<div class="col-md-4 steps-form" ng-if="project.supportrewards.length<3">
						<div class="reward-box-add">
							<a href="" class="add-box" ng-click="addSupportRewards(project.supportrewards)">+</a>
						</div>
					</div>
				</div>
				<div class="row steps-content-basic rewards-content">
					<h5 style="margin-left:17px;">SERVICE REWARDS</h5>
					<div ng-repeat="service in project.servicerewards track by $index">
						<div class="col-md-4 steps-form">
							<div class="reward-box">
								<div class="input-wrp">
									<i class="fa fa-rupee"></i>
									<input type="text" class="txt-amout" placeholder="0.00" ng-model="service.amount">
								</div>
								<div class="input-wrp">
									<input type="text" class="txt-desc" placeholder="Activity Name" ng-model="service.activityName">
								</div>
								<div class="input-wrp">
									<input type="text" class="txt-desc" placeholder="Time to avail service" ng-model="service.availableDate">
								</div>
								<div class="input-wrp">
									<textarea  cols="5" class="txt-desc" placeholder="Description" ng-model="service.description"></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 steps-form" ng-if="project.servicerewards.length<3">
						<div class="reward-box-add">
							<a href="" class="add-box" ng-click="addServiceRewards(project.servicerewards)">+</a>
						</div>
					</div>
				</div>
			</div>
			<div class="steps-footer">
				<div class="row">
					<div class="col-md-6 prev">
						<a href="#/create/projectdetails/{{projectId}}" class="steps-back">
							<p class="cont">Back to</p>
							<i class="fa fa-arrow-left" aria-hidden="true"></i><span>Project Details</span>
						</a>
					</div>
					<div class="col-md-6 next">
						<a ng-click="startProfile(startPreview());" class="steps-back">
							<p class="cont">Continue to</p>
							<p><span>Profile &amp; Account</span><i class="fa fa-arrow-right" aria-hidden="true"></i></p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>